<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class = "container"> 
		<table> 
			<thead> 
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Zip</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "account:${accounts}">
					<td th:text = "${account.u_Name}"> </td>
					<td th:text = "${account.u_Address}"> </td>
					<td th:text = "${account.u_Zipcode}"> </td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>